<div class="comment_author">
	<p class="author_of_comment">
		<%= comment.commenter %>
	</p>
	<p class="comment_by_author">
		<%= comment.body %>
	</p>
	<p class="destroy_comment">
		<%= link_to 'Удалить', [comment.post, comment],
									:confirm => 'Are you sure?',
									:method => :delete %>
	</p>
</div>
