

<body>

    <section class="bodypart_1">
      <div class="main_part1">
        <div class="top_part1">
          <div class="phrases phrase1">
            <p>где искать витамины группы В???</p>
            <img src="images/1.svg" alt="">
            <img src="images/2.svg" class="second_pic" alt="">
          </div>
          <div class="phrases phrase2">
            <p>hse arts and crafts</p>
            <img src="images/3.svg" alt="">
          </div>
          <div class="phrases phrase3">
            <p>course   <span>1</span> 2 <span>3</span> <span>4</span></p>
            <img src="images/3.svg" alt="">
          </div>
          <div class="phrases phrase4">
            <p>module  1 <span>2</span> <span>3</span> <span>4</span></p>
            <img src="images/3.svg" alt="">
          </div>
        </div>

        <div class="center_part1">
          <div class="phrase1_center"><h1>кто вы?</h1></div>
          <div class="phrase2_center">
            <h1 class="phrase2_center">ну как сказать</h1>
          </div>
          <div class="phrase3_center">
            <h1>мы — медиа-сервис<br>витаминного баланса</h1>
          </div>
        </div>
        <div class="errow">
          <img src="images/4.svg" alt="">
        </div>
        <div class="year">
          <p>2021</p>
        </div>
      </div>
    </section>

    <section class="bodypart_2">
      <div class="part_1">
        <div class="question"><p>а что вы делаете?</p></div>
        <div class="message"><h1>формально мы помогаем найти витаминную<br>альтернативу продуктам животного<br>происхождения в растительной пище</h1></div>
        <!-- <div class="question2"><p>вот так?</p></div> -->
        <div class="letters">
          <img class="cucumber" src="images/32.png" alt="">
          <h2 class="letter_a">А</h2>
        </div>
        <div class="message"><h1>если по-простому</h1></div>
        <div class="message"><h1>мы делаем веганскую и вегетарианскую<br>рутину чуточку легче</h1></div>
      </div>
      <div class="part_2">
        <div class="question2"><p>и как вам это удается?</p></div>
        <div class="message"><h1>мы собрали огромную библиотеку карточек<br>растительной пищи и витаминов</h1></div>
        <div class="message"><h1>и соединили их между собой<br>сеткой альтернатив</h1></div>
        <div class="message"><h1>:)))</h1></div>
        <div class="message"><h1>а еще у нас суперские авторы контента</h1></div>
        <div class="message"><h1>они специалисты в области питания<br>и здоровья, поэтому от них мы получаем<br>только проверенную информацию</h1></div>
        <!-- <img class="footer_bodypart2" src="images/19.svg" alt=""> -->
      </div>
    </section>

    <section class="bodypart_3">
        <div class="message"><h1>это наша целевая аудитория</h1></div>
        <img class="errows_1" src="images/12.svg" alt="">
        <img class="errows_2" src="images/12.svg" alt="">
        <img class="errows_3" src="images/12.svg" alt="">
        <img class="errows_4" src="images/12.svg" alt="">
        <div class="main_part3">

          <div class="top_part3">

            <div class="cards left_part3_top">
              <div class="bookmark">
                <p>основная</p>
              </div>
              <h2>1</h2>
              <h1>/ веганы<br>/ вегетарианцы</h1>
              <img class="check_mark" src="images/6.svg" alt="">
              <img style="padding-top: 3vh;" src="images/5.svg" alt="">
              <h4 style="padding-top: 3vh;"><img src="images/7.svg" alt=""> 17-21 й.о.</h4>
              <h4><img src="images/33.svg" alt="">следят за питанием</h4>
              <h4><img src="images/9.svg" alt="">предпочитают свежие продукты</h4>
              <h4 style="padding-bottom: 5vh;"><img src="images/10.svg" alt="">слушают свой организм</h4>
            </div>

            <img class="dashed_line" src="images/20.svg" alt="">

            <div class="cards right1_part3_top">
              <div class="bookmark">
                <p>косвенная</p>
              </div>
              <h2>2</h2>
              <h1>/ аллергики<br>/ верующие<br>/ сидящие на диете</h1>
            </div>

            <div class="cards right2_part3_top">
              <div class="bookmark">
                <p>уровни аудитории</p>
              </div>

              <h4 style="padding-top: 4vh;">ограничивающие себя в продуктах животного происхождения</h4>
              <div class="circle"></div>
              <h4>ограничивающие себя в каких-либо других продуктах</h4>
              <div class="circle"></div>
              <h4 style="padding-bottom: 4vh;">не ограничивающие себя ни в каких продуктах, но которым было бы полезно знать о витаминах</h4>
              <img src="images/12.svg" alt="">
            </div>
          </div>

          <div class="bottom_part3">
            <div class="main2_part3">
              <div class="bookmark">
                <p class="user_story">user story</p>
                <img class="translater_errows" src="images/21.svg" alt="">
                <p class="job_story">job story</p>
              </div>
              <div class="left">
                <h1>1/ как веган, я&nbspхочу знать альтернативу продуктам, которые я&nbspне ем, чтобы быстрее ориентироваться в&nbspмагазине при покупке продуктов<br><br>2/ как вегетарианец, я&nbspхочу сбалансированно питаться, чтобы не&nbspпить таблетки</h1>
              </div>
              <div class="right">
                <h1>1/ когда я&nbspнахожусь в&nbspмагазине, я&nbspхочу быстро найти витаминную альтернативу яйцам, которые я&nbspне&nbspем, чтобы скорее оказаться дома<br><br>2/ когда наступают холода, я&nbspхочу добавить в&nbspсвое меню фрукты с&nbspвитамином С, чтобы не&nbspпить таблетки </h1>
              </div>
            </div>
            <button class="button" type="button" name="button">перевести</button>
          </div>
        </div>
      </div>
    </section>

    <section class="bodypart_4">
      <div class="main_part4">
        <div class="question"><p>вау</p></div>
        <div class="question"><p>а пользователь взаимодействует с вами?</p></div>
        <div class="message"><h1>а как без этого?</h1></div>
      </div>
      <img class="comments" src="images/24.png" alt="">
      <img class="lk" src="images/27.png" alt="">
      <img class="watch_later" src="images/28.png" alt="">
      <img class="assessments" src="images/29.png" alt="">
      <img class="favourites" src="images/30.png" alt="">
      <img class="seacher" src="images/31.png" alt="">
    </section>
  </body>
