/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: 'Formular-Regular';
  src: url('Formular-Regular.ttf') format('TrueType');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Formular-Medium';
  src: url('Formular-Medium.ttf') format('TrueType');
  font-weight: bolder;
  font-style: normal;
  font-display: swap;
}

.top_menu {
  position: absolute;
  bottom: 0;
  /* position: fixed; */
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-bottom: 1px solid #ddd;
}
.top_menu a {
  margin: 0 0 0 2vw;
  font-family: Formular-Regular;
  text-decoration: none;
  display: block;
  font-size: 1.2vw;
  line-height: 2vw;
}
.top_menu a:hover {
  color: black;
  background-color: white;
  font-family: Formular-Medium;
}
.top_menu img {
  width: 4vw;
  margin-left: 2vw;
}
.search {
  margin-left: 15vw;
  width: 50vw;
}
