/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: 'Formular-Regular';
  src: url('Formular-Regular.ttf') format('TrueType');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Formular-Medium';
  src: url('Formular-Medium.ttf') format('TrueType');
  font-weight: bolder;
  font-style: normal;
  font-display: swap;
}

.top_menu {
  /* position: absolute; */
  top: 0;
  position: fixed;
  width: 11%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 10fr 1fr;
  grid-template-areas: "logo_topmenu"
                       "menu_topmenu"
                       "bottom_topmenu";
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid #ddd;
}
.top_menu a {
  margin: 0 0 0 1vw;
  font-family: Formular-Regular;
  text-decoration: none;
  display: block;
  font-size: 1.2vw;
  line-height: 2vw;
}
.top_menu a:hover {
  color: black;
  background-color: white;
  font-family: Formular-Medium;
}
.search {
  margin-left: 15vw;
  width: 32vw;
  margin-top: 1vw;
  border-bottom: 2px solid #D3D3D3;
  display: flex;
  align-items: center;
}
.search input {
  border: 0;
  height: 2vw;
  width: 32vw;
  font-family: 'Formular-Regular';
  font-size: 1vw;
  color: #D3D3D3;
}
.logo_topmenu {
  grid-area: logo_topmenu;
  width: 4vw;
  margin: 1vw 0 0 1vw;
}
.menu_topmenu {
  grid-area: menu_topmenu;
  margin: auto 0;
}
.bottom_topmenu {
  grid-area: bottom_topmenu;
}
.registration, .autorization {
  width: 30vw;
  background-color: #8EA5EB;
  border-radius: 1vw;
  font-family: 'Formular-Regular';
  font-size: 1.2vw;
}
.name_registration, .surname_registration, .password {
  display: inline-block;
  width: 42.7%;
}
.registration label, .autorization label {
  color: #F4ECE1;
}
.registration div, .autorization div {
  padding: 1vw 1vw 1vw 1vw;
}
.sign_up_button, .sign_in_button {
  margin: 2vw auto;
}
.sign_up_button input, .sign_in_button input {
  background-color: #E8FF4C;
  font-family: 'Formular-Regular';
  font-size: 1.2vw;
  border: none;
  padding: 1vw 2vw;
  border-radius: 4vw;
}
.registration_with_button, .autorization_with_button {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin: 7vw auto 0;
}
.autorization_with_button {
  margin: 7vw auto 0;
  
}
