// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.table {
  width: 80vw;
  margin: 0 0 0 15vw;
  font-family: Formular-Regular;
  font-size: 1.2vw;
}
.thead {
  border-radius: 2vw !important;
  background-color: #F4ECE1;
}
.tr_top {
  height: 4vw;
  // border-radius: 1vw;
  // background-color: #F4ECE1;
  display: grid;
  width: 98%;
  margin: 0 auto;
}
.tr_top_categories {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "point1 point2 point3 point4"
}
.tr_bottom {
  display: grid;
  width: 98%;
  margin: 0 auto;
  border-bottom: 2px solid #8EA5EB;
}
.tr_bottom_categories {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "point1 point2 point3 point4";
}
.new_smth {
  position: absolute;
  top: 1vw;
  right: 1vw;
  display: flex;
  align-items: center;
  height: 4vw;
  background-color: #E8FF4C;
  border-radius: 2vw;
}
.new_smth a {
  font-family: Formular-Regular;
  text-decoration: none;
  margin: 0 1vw 0.3vw 0;;
  width: 6vw;
  text-align: center;
  font-size: 1.2vw;
  color: black;
}
.new_smth img {
  height: 2.5vw;
  margin-left: 1vw;
}
.tr_top td {
  margin: auto 0;
  font-family: Formular-Medium;
}
.tr_bottom td {
  padding: 1vw 0vw;
}
.edit_destroy a {
  font-family: Formular-Regular;
  text-decoration: none;
  text-align: center;
  font-size: 1.2vw;
  color: black;
}
.sort {
  display: flex;
  justify-content: flex-start;
  margin: 8vw 0 1vw 15vw;
  font-family: Formular-Regular;
  font-size: 1vw;
  color: #D3D3D3;
}
.sort a {
  text-decoration: none;
  margin-left: 2vw;
  color: red;
}
.field input {
  border: none;
  background-color: #F0F0F0;
  border-radius: 1vw;
  width: 96%;
  margin-top: 0.8vw;
  padding: 0 0 0 0.5vw;
  font-family: 'Formular-Regular';
  height: 3vw;
}
#cke_category_description {
  margin: 0.8vw 0 0 0;
}

///show подборки
.whole_show_category {
  margin: 2vw 0 4vw 25vw;
  width: 35vw;
  background-color: white;
  border: 1px solid black;
  border-radius: 1vw;
}
.whole_show_category strong {
  font-family: 'Formular-Medium';
  font-size: 1.5vw;
  margin: 2vw 1vw;
}
.whole_show_category p {
  font-family: 'Formular-Regular';
  font-size: 1.2vw;
  margin: 0.5vw 0 1vw 1vw;
  display: inline-block;
  max-width: 87%;
  background-color: #F0F0F0;
  padding: 1vw;
  border-radius: 1vw;
}
