// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// @font-face {
// font-family: 'Inter-Regular';
// src: url('Inter-Regular.ttf') format('TrueType');
// font-weight: 500;
// font-style: normal;
// font-display: swap;
// }
//
// @font-face {
// font-family: 'Inter-Bold';
// src: url('Inter-Bold.ttf') format('TrueType');
// font-weight: 500;
// font-style: normal;
// font-display: swap;
// }
//
// @font-face {
// font-family: 'Inter-Medium';
// src: url('Inter-Medium.ttf') format('TrueType');
// font-weight: 500;
// font-style: normal;
// font-display: swap;
// }
//
//
// .header {margin: 2vh;}
// .header h1, .header a, .header_second_row h1, .editing {
//   font-family: 'Inter-Medium';
//   font-size: 22px;
//   display: inline-block;
// }
// .header a {
//   text-decoration: none;
//   color: white !important;
//   padding-right: 4%;
// }
// .naming {
//   float: right;
//   padding-right: 0% !important;
//   padding-left: 4%;
//   color: white;
// }
// .header_second_row {
//   margin: 4% 4% 0;
// }
// .header_second_row h1, .editing {
//   padding: 1vw 3vw 1.1vw;
//   color: black;
//   background-color: white;
//   border-radius: 2vw;
//   margin: 0 !important;
// }
// .editing {margin: 4% !important; max-width: 14vw;}
// .new_post, .show_header_second_row a {
//   font-family: "Inter-Medium";
//   font-size: 22px;
//   padding: 1vw 3vw 1.1vw;
//   color: white !important;;
//   background-color: #8EA5EB;
//   border-radius: 2vw;
//   text-decoration: none;
// }
// .new_post {float: right;}
// .show_header_second_row {margin: 4%;}
// .photo_block {
//   height: 40vh;
//   position: relative;
//   border-radius: 2vw;
//   display: block;
//   margin: 2vh;
// }
//
// .photo_block img {
//   height: 100%;
//   border-radius: 2vw;
//   // width: 100%;
// }
// .posts {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-around;
//   // background-color: #F4ECE1;
//   // width: 25vw;
//   // border-radius: 2vw;
// }
// .post_structure {
//   background-color: #F4ECE1;
//   border-radius: 2vw;
//   position: relative;
//   overflow: hidden;
//   margin: 5vh;
//   // width: 30vw;
// }
// .post_name, .show_name, .show_comments, .show_add_comment {
//   font-family: "Inter-Regular";
//   font-size: 15px;
//   padding: 0.5vw 1vw 0.6vw;
//   color: black;
//   background-color: white;
//   border-radius: 2vw;
//   display: inline-block;
// }
// .post_name {margin: 0.5vh 2vh;}
// .show_name, .show_comments, .show_add_comment {margin: 0.5vh 0vh;}
// .post_title, .show_title {
//   font-family: "Inter-Bold";
//   font-size: 22px;
//   padding: 0.5vw 1.5vw 0.6vw;
//   color: black;
//   background-color: white;
//   border-radius: 2vw;
//   display: block;
// }
// .post_title {
//   margin: 0.5vh 2vh;
//   max-width: 30vh;
// }
// .show_title {
//   margin: 0.5vh 0vh;
//   max-width: 30vh;
// }
// .show_button, .edit_button, .destroy_button, .show_edit_button, .actions {
//   font-family: "Inter-Medium";
//   font-size: 15px;
//   padding: 0.5vw 1.5vw 0.6vw;
//   color: white !important;;
//   background-color: #8EA5EB;
//   border-radius: 2vw;
//   text-decoration: none;
// }
// .show_button, .edit_button, .destroy_button {
//   margin: 0.5vh 0vh 2vh 2vh;
//   float: right;
// }
//
// // .whole_form {
// //   margin-left: auto;
// //   margin-right: auto;
// //   margin-bottom: 5vh;
// //   width: 25vw;
// //   border-radius: 2vw;
// //   background-color: #F4ECE1;
// //   padding: 2vw;
// // }
// // .whole_form label {
// //   display: block;
// //   font-family: "Inter-Bold";
// //   font-size: 22px;
// //   padding: 1.5vw 0vw 0.6vw;
// //   color: black;
// // }
// // .image_form label {padding: 0vw 0vw 0.6vw !important;}
// // .whole_form input[type="text"] {
// //   background-color: white;
// //   border-radius: 2vw;
// //   border: none;
// //   height: 4vh;
// //   width: 95%;
// //   margin: 5px auto 10px;
// //     padding: 0 10px;
// //     font-size: 18px;
// //     border: none;
// //     font-family: "Inter-Regular";
// //     color: black;
// // }
//
// // .whole_show {
// //     margin-left: auto;
// //     margin-right: auto;
// //     margin-bottom: 5vh;
// //     width: 25vw;
// //     border-radius: 2vw;
// //     background-color: #F4ECE1;
// //     padding: 2vw;
// //     position: relative;
// // }
// // .whole_form img {
// //   width: 100%;
// //   border-radius: 2vh;
// // }
// .show_content {
//   font-family: "Inter-Regular";
//   font-size: 19px;
//   display: inline-block;
//   margin: 2vh 0vh;
// }
// .show_image img {
//   width: 100%;
//   border-radius: 2vh;
//   margin-bottom: 2vh;
// }
// .show_edit_button {
//   position: absolute;
//   right: 2vh;
//   bottom: 2vh;
// }
// .comment_author {
//   position: relative;
//   border-radius: 2vh;
//   background-color: white;
// }
// .comment_by_author {
//   font-family: "Inter-Regular";
//   font-size: 19px;
//   padding: 1vh 2vh 2vh;
// }
// .author_of_comment {
//   font-family: "Inter-Bold";
//   font-size: 19px;
//   padding: 1vh 2vh 2vh;
// }
// .destroy_comment {
//   text-decoration: none !important;
//   font-family: "Inter-Regular";
//   font-size: 14px;
//   position: absolute;
//   bottom: 1vh;
//   right: 1vh;
// }
// .show_comments {
//   margin: 2vh 0vh;
// }
// .show_add_comment {
//   margin: 4vh 0vh;
// }
// .author_graph label, .comment_graph label {
//   font-family: "Inter-Regular";
//   font-size: 14px;
// }
// .actions_comments {
//
// }
// .comment_graph textarea, .content_form textarea {
//   width: 92%;
//     height: 20vh;
//     font-family: 'Inter-Regular';
//     margin-bottom: 2vh;
//     border: 0px;
//     padding: 2vh;
//     border-radius: 2vh;
// }
//
// .author_graph input[type="text"] {
//   background-color: white;
// border: 0px;
//   border-radius: 2vh;
//   margin-bottom: 3vh;
// }
//
//
//
// .show_comments, .show_add_comment {display: table;}

.tr_top_posts {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "point1 point2 point3 point4 point5 point6"
}
.tr_bottom_posts {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "point1 point2 point3 point4 point5 point6";
}
.show_edit_destroy a {
  font-family: Formular-Regular;
  text-decoration: none;
  text-align: center;
  font-size: 1.2vw;
  color: black;
}
.post_status {
  position: absolute;
  left: 15vw;
  top: 5vw;
}
.post_status a {
  text-decoration: none;
  font-family: 'Formular-Regular';
  /* height: 2vw; */
  background-color: #F4ECE1;
  padding: 0.5vw 1vw;
  border-radius: 2vw;
  font-size: 1vw;
  color: black;
}
.post_status a:not(:first-child) {
  margin-left: 0.5vw;
}
.whole_form {
  margin: 4vw 0 4vw 25vw;
  width: 30vw;
  border: 1px solid black;
  border-radius: 1vw;
  font-family: 'Formular-Medium';
  font-size: 1.5vw;
}
.header h1 {
  font-family: 'Formular-Medium';
  font-size: 2.5vw;
  max-width: 30vw;
}
.header {
  margin-left: 25vw;
  display: inline-block;
  margin-top: 1vw;
}
.header_second_row {
  position: absolute;
  left: 17vw;
  top: 1.5vw;
  display: flex;
  align-items: center;
}
.header_second_row a {
  font-family: 'Formular-Regular';
  text-decoration: none;
  color: #D3D3D3;
  font-size: 1vw;
}
.header_second_row :nth-child(2) {
  padding: 0 0 0.1vw 0.4vw;
}
.whole_form div {
  margin: 2vw 1vw;
}
.name_form input {
  border: none;
  background-color: #F0F0F0;
  border-radius: 0.6vw;
  height: 2vw;
  margin-top: 0.8vw;
  width: 96%;
  padding: 0 0 0 0.5vw;
  font-family: 'Formular-Regular';
  font-size: 1vw;
}
.field select {
  border: none;
  background-color: #F0F0F0;
  border-radius: 1vw;
  height: 3vw;
  margin-top: 0.8vw;
  width: 30%;
  padding: 0 0 0 0.5vw;
  font-family: 'Formular-Regular';
  font-size: 1vw;
}
#cke_post_content {
  margin: 0.8vw 0 0 0;
}


///show поста

:root {
  --peanut-butter: #F4ECE1;
  --helium-pen: #281915;
  --pepper-red: #FC4A27;
  --light-red: #FC6C4F;
  --blueberry-blue: #8EA5EB;
  --highlighter: #E8FF4C;
  --plum-purple: #E2B8E6;
}

body {
  background-color: #FBFAF8;
}

.header_article{
  background-color: white;
  padding: 40px 10px 0 10px;
}
// .search_and_bttn {
//   width: 100%;
// }

.search_and_bttn input {
  background-color: var(--peanut-butter);
  color: var(--helium-pen);
  box-sizing: border-box;
  font-size: 17px;
  font-family: "Formular-Regular";
  background-image: url('SearchIcon.svg');
  background-repeat: no-repeat;
  background-position: 12px;
  background-size: 18px;
  padding: 10px 20px 12px 37px;
  height: 8vw;
  border: none;
  border-radius: 30px;
}
.search_and_bttn input::placeholder {
  color: var(--helium-pen);
}

.mobile_menu a {
  background-color: #D9D9D9;
  text-decoration: none;
  color: var(--helium-pen);
  text-align: center;
  font-family: "Formular-Regular";
  padding: 5px 20px 6px 20px;
  box-shadow: 7px -5px 9px 0px rgba(34, 60, 80, 0.1);
  border-radius: 13px 13px 0px 0px;
}

a.main {
  background-color: #FBFAF8;
}

.search_and_bttn, .mobile_menu, .PostNameAndF {
  display: flex;
  justify-content: space-between;
}

.PostNameAndF {
  padding: 30px 0 10px 0;
}

.PostNameAndF h1{
  font-size: 24px;
  font-family: "Formular-Medium";
}

.search_and_bttn{
  padding-bottom: 7vw;
}


.whole_show {
  background-color: #FBFAF8;
  padding: 0 14px 0 14px;
  border: none;
  border-radius: 1vw;
  font-family: "Formular-Regular"
}

h1 {
  color: var(--helium-pen);
}

.article_content h1{
  font-size: 24px;
  font-family: 'Formular-Medium';
  padding: 5vw 0 3vw 0;
}

.show_image img {
  width: 100%;
  height: 65vw;
  border-radius: 4.5vw;
  object-fit: cover;

}
.whole_show strong {
  font-family: 'Formular-Medium';
  font-size: 1.5vw;
  margin: 2vw 1vw;
}

.whole_show p {
  font-size: 18px;
  margin-bottom: 5vw;
}
.whole_show span {
  background-color: var(--light-red);
  font-size: 14px;
  padding: 8px 12px;
  display: inline-block;
  border-radius: 30px;
  margin: 0 2vw 2vw 0;
  font-family: 'Formular-Medium';
  
} 
.show_add_comment {
  font-family: 'Formular-Medium';
  font-size: 1vw;
  margin: 1vw 1vw;
}
.new_comment {
  font-family: 'Formular-Regular';
  font-size: 1vw;
}
